
<!DOCTYPE HTML>

<html>
	<head>
		<title>Type Speed Test App | Tyler Gargula</title>
		<meta charset="utf-8" />
		<meta name="description" content="See how fast and accurately you can type with the Type Speed Test App. Are you a slow or speedy typer? Found out now! ">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="staticassets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Type Speed Test</span>
								</a>



						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Type Speed Test App
								created by <a href="https://www.linkedin.com/in/tylergargula/">Tyler Gargula</a>.</h1>
								<p>Measure your typing abilities and see how you stack up against the rest. <span class="truncated-text">Begin typing the words below to start and a score will provided once all 20 words are typed.</span></p>
							</header>

							<!-- Image Upload form -->
							<section>
								<form method="post" enctype="multipart/form-data" >

									<div class="fields">
										<div class="field half">
											<p class="rand-words">{{ words }}</p>
											<input type="text" name="input_text" id="input_text" placeholder="Type the words above" />
											<div id="results"></div>
										</div>
									</div>
								</form>
							</section>
							{% if file_url %}



								<article>
									<span class="image">
										<img src="{{ file_url }}" alt="Your newly generated image" />
									</span>
									<a href="{{ file_url }}" download="{{ file_url }}">
										<h2>Download</h2>
															</a>
										<div class="content">
											<p>Your watermarked image is ready!</p>
										</div>

								</article>



							{% endif %}
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<section>
								<h2>Follow Me</h2>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/tylergargula/" class="icon brands style2 fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/tylergargula" class="icon brands style2 fa-github" target="_blank"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; <a href="https://tylergargula.dev/" target="_blank">Tyler Gargula. </a>All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>




	</body>
</html>